---
import Layout from "../layouts/Layout.astro"

const galleryItems = await Astro.glob("../content/gallery/*.md")
---

<Layout title="Infinite Canvas">
  <!-- header slot-->
  <header slot="header" class="text-center p-4">
    <h1>App gallery</h1>
  </header>

  <!-- default slot -->
  <ul class="p-4 grid grid-cols-4 gap-4">
    {
      galleryItems.map(
        ({ frontmatter: { title, platforms, url, usecases, description } }) => (
          <li class="bg-brown bg-opacity-5 p-4 space-y-4">
            <h2>{title}</h2>
            <a href={url}>{url.replace("https://", "")}</a>
            <div>{platforms}</div>
            <div>{usecases}</div>
            <p>{description}</p>
          </li>
        )
      )
    }
  </ul>
</Layout>
