---
import Layout from "../layouts/Layout.astro"

const galleryItems = await Astro.glob("../content/gallery/*.md")
---

<Layout title="Infinite Canvas">
  <!-- header slot-->
  <header slot="header">
    <h1>App gallery</h1>
  </header>

  <!-- default slot -->
  <ul>
    {
      galleryItems.map(
        ({ frontmatter: { title, platforms, url, usecases, description } }) => (
          <li>
            <h2>{title}</h2>
            <a href={url}>{url.replace("https://", "")}</a>
            <div>{description}</div>
            <div>{platforms}</div>
            <div>{usecases}</div>
            <p>{description}</p>
          </li>
        )
      )
    }
  </ul>
</Layout>
