---
import Layout from "../layouts/Layout.astro"
import Date from "../components/history/Date.astro"

const historyItems = await Astro.glob("../content/history/*.md")
---

<Layout title="Infinite Canvas" activeItem="/history">
  <!-- header slot-->
  <header
    slot="header"
    class="grid grid-cols-4 gap-48 px-24 mx-auto max-w-1440 640:px-48 mt-72"
  >
    <div class="col-span-4 space-y-16 1024:col-span-2 1024:col-start-2">
      <h1 class="font-serif text-black text-32">History</h1>
      <p class="font-sans text-gray text-opacity-80 text-20">
        The story of infinite canvas software goes back more than half a
        century.
      </p>
    </div>
  </header>

  <!-- default slot -->
  <ul class="px-24 mx-auto space-y-96 py-96 max-w-1440 640:px-48">
    {
      historyItems.map(({ frontmatter: { title, year, image }, Content }) => (
        <li class="grid grid-cols-1 pt-16 border-t-2 border-gray 640:grid-cols-2 gap-x-24 640:gap-x-48 gap-y-24 1024:grid-cols-4">
          <h3 class="font-serif text-black 640:col-span-2 1024:col-span-1 text-20">
            <time datetime={year}>{year}</time> • {title}
          </h3>
          <div class="1024:col-span-2 md">
            <Content />
          </div>{" "}
          <div class="aspect-[3/2]">
            <img
              src={`/images/history/${image}`}
              alt={`Image of ${title} from ${year}`}
            />
          </div>
        </li>
      ))
    }
  </ul>
</Layout>
