---
const { date, title, imgSrc } = Astro.props
---

<li class="space-y-8">
  <div class="aspect-[3/2]">
    <img
      src={`/images/history/${imgSrc}`}
      alt={`Image of ${title} from ${date}`}
    />
  </div>
  <h3 class="font-serif text-16 text-gray">
    <time datetime={date}>{date}</time> • {title}
  </h3>
</li>
