---
import dots from "../../images/backgrounds/dot_grid.svg"

const { title, description, src, alt } = Astro.props
---

<li>

  <div style={`background-image: url("${dots}")`}>
    <img src={src} alt={alt} />
  </div>
  <h3 class="sans-24 text-gray mb-8">{title}</h3>
  <p class="serif-20 text-brown text-opacity-80">
    {description}
  </p>
</li>
