---
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
import "../styles/style.css"
export interface Props {
  title: string
  url?: string
}

const { title, url } = Astro.props as Props
const DESCRIPTION = "Explore infinite canvas tools that work the way we think"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={DESCRIPTION} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`https://infinitecanvas.tools${url}`} />
    <meta
      property="og:image"
      content="https://infinitecanvas.tools/images/og_image.jpg"
    />
    <meta property="og:description" content={DESCRIPTION} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={DESCRIPTION} />
    <meta
      name="twitter:image"
      content="https://infinitecanvas.tools/images/og_image.jpg"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#FCFAF6" />

    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#FCFAF6" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&family=Merriweather&display=swap"
      rel="stylesheet"
    />
    <script src="/scrollReveal.js" defer></script>

    <script src="https://cdn.usefathom.com/script.js" data-site="UKEFMQEZ" defer
    ></script>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="c16115b0-a253-4fdf-8b3b-00a7a408fbd6"></script>

    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-parchment">
    <div>
      <Nav activeItem={url} />
      <slot name="header" />
    </div>
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
